@model FreeFixedMatches.ViewModel.ViewModelData

<div class="table-responsive">
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Match</th>
                <th scope="col">Tip</th>
                <th scope="col">Result</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tip in Model.FreeTips)
                {
                    <tr>
                        <td>@tip.Date</td>
                        <td>@tip.Match</td>
                        <td>@tip.Tip</td>
                        <td>@tip.Odd</td>
                        <td>@tip.Result</td>
                        <td>@tip.WinLose</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
