@model FreeFixedMatches.ViewModel.MonthlyAdminViewModel
@{
    ViewBag.Title = "AddMonthly";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<h2>AddMonthly</h2>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddMonthlyToDb", "Admin"))
        {
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.Date)
                @Html.TextBoxFor(f => f.monthlySubscration.Date, new { @id = "datepicker", @class = "form-control" })
            </div>
            @*<div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.TotalOdd):
                @Html.TextBoxFor(f => f.monthlySubscration.TotalOdd, new { @class = "form-control" })
            </div>*@
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.Match):
                @Html.TextBoxFor(f => f.monthlySubscration.Match, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.Odd):
                @Html.TextBoxFor(f => f.monthlySubscration.Odd, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.Result):
                @Html.TextBoxFor(f => f.monthlySubscration.Result, new { @class = "form-control", @id = "js-result", @name = "js-name-result" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.Tip):
                @Html.TextBoxFor(f => f.monthlySubscration.Tip, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.monthlySubscration.WinLose):
                @Html.TextBoxFor(f => f.monthlySubscration.WinLose, new { @class = "form-control", @Value = "WIN" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-bordered table-sm" style="overflow-y:auto;">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Total Odd</th>
                        <th scope="col">Match</th>
                        <th scope="col">Tip</th>
                        <th scope="col">Result</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tip in Model.monthlySubscrations)
                    {
                        <tr>
                            <td>@tip.Date</td>
                            <td>@tip.TotalOdd</td>
                            <td>@tip.Match</td>
                            <td>@tip.Tip</td>
                            <td>@tip.Result</td>
                            <td>@Html.ActionLink("Delete", "DeleteMonthly", "Admin", new { id = tip.Id }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>$(document).ready(function() {
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy'});
        });</script>
}
