@model FreeFixedMatches.ViewModel.AdsView
@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Ads</h2>

@using (Html.BeginForm("AdsAdd", "Admin"))
{
<div class="form-group">
    @Html.RadioButtonFor(f => f.TopAds.TopBottom, true) Add to top Adds
    @Html.RadioButtonFor(f => f.TopAds.TopBottom, false)  Add to bottom Adds
</div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Id)
        @Html.TextBoxFor(f => f.TopAds.Id, new { @id = "js-id-adds", @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Alt)
        @Html.TextBoxFor(f => f.TopAds.Alt, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Title)
        @Html.TextBoxFor(f => f.TopAds.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.ImgUrl)
        @Html.TextBoxFor(f => f.TopAds.ImgUrl, new { @class = "form-control" })
    </div>

    <button type="submit">Save</button>
}


<div class="table-responsive">
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Alt</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody class="js-table-top">
        </tbody>
    </table>
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Alt</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody class="js-table-down">
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $(".js-table-top .js-table-down").empty();
            $.getJSON("/JsonFiles/Ads.json",
                function(data) {
                    $.each(data,
                        function (key, value) {
                            $('#js-id-adds').val(key+1);
                            if (key == 0) {
                                $('#js-id-adds').val(0);
                            }
                            if (value.TopBottom) {
                                $(".js-table-top").append(
                                    '<tr><td>' +
                                    value.Id +
                                    '</td><td>' +
                                    value.Alt +
                                    '</td><td>' +
                                    value.Title +
                                    '</td><td>' +
                                    value.ImgUrl +
                                    '</td><td><button class="btn btn-link delete" onclick="DeleteOffer()">Delete</button></td>');
                            } else {
                                $(".js-table-down").append(
                                    '<tr><td>' +
                                    value.Id +
                                    '</td><td>' +
                                    value.Alt +
                                    '</td><td>' +
                                    value.Title +
                                    '</td><td>' +
                                    value.ImgUrl +
                                    '</td><td><button class="btn btn-link delete" onclick="DeleteOffer()">Delete</button></td>');
                            }
                        });
                });
        });

        function DeleteOffer() {
            console.log("vlaga vo delete");
            $(document).ready(function() {
                $(".delete").click(function() {
                    var $row = $(this).closest("tr"); // Find the row
                    var tds = $row.find("td");
                    $.get('@Url.Action("DeleteAdd", "Admin")', { id: tds[0].innerText }).done(function() {
                        alert( "Data Loaded");
                    });
                });
            });
        }
    </script>
}


