@model FreeFixedMatches.ViewModel.AdsView
@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Ads</h2>

@using (Html.BeginForm("AdsAdd", "Admin"))
{
    <div class="form-group">
        @Html.RadioButtonFor(f => f.TopAds.TopBottom, true) Add to top Adds
        @Html.RadioButtonFor(f => f.TopAds.TopBottom, false)  Add to bottom Adds
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Alt)
        @Html.TextBoxFor(f => f.TopAds.Alt, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Title)
        @Html.TextBoxFor(f => f.TopAds.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.ImgUrl)
        @Html.TextBoxFor(f => f.TopAds.ImgUrl, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.TopAds.Url)
        @Html.TextBoxFor(f => f.TopAds.Url, new { @class = "form-control" })
    </div>

    <button type="submit">Save</button>
}


<div class="table-responsive">
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Alt</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.TopAdsList)
            {
                if (res.TopBottom)
                {
            <tr>
                <td>@res.Id</td>
                <td>@res.Alt</td>
                <td>@res.Title</td>
                <td>@res.ImgUrl</td>
                <td>@Html.ActionLink("Delete", "DeleteAdd", "Admin", new { id = res.Id }, null)</td>
                <td></td>
            </tr>
                }
            }
        </tbody>
    </table>
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Alt</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var res in Model.TopAdsList)
        {
            if (!res.TopBottom)
            {
                <tr>
                    <td>@res.Id</td>
                    <td>@res.Alt</td>
                    <td>@res.Title</td>
                    <td>@res.ImgUrl</td>
                    <td>@Html.ActionLink("Delete", "DeleteAdd", "Admin", new { id = res.Id }, null)</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>