@model FreeFixedMatches.Models.MonthlyOffersJson
@{
    ViewBag.Title = "ChangeMonthlyOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeMonthlyOffers</h2>
<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary btn-sm" onclick="stylingNewOffer()">Add new Offer</button>
        </div>
        
    </div>
    <div class="col-md-5">
        <div id="js-Offers-New">
            <p>Add new Offer</p>
            @using (Html.BeginForm("AddMonthlyOffer", "Admin"))
            {
            <div class="form-group">
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @id="js-Id", @readonly = "readonly" })
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NameOffer)
                    @Html.TextBoxFor(m => m.NameOffer, new { @class = "form-control",@id="js-reset-Name" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TextOffer)
                    @Html.TextAreaFor(m => m.TextOffer, new { @class = "form-control", @id = "js-reset-TextOffer" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PriceOffer)
                    @Html.TextBoxFor(m => m.PriceOffer, new { @class = "form-control", @id = "js-reset-Price" })
                </div>
                <button type="submit" class="btn btn-primary">Add</button>

            }
        </div>
        <div id="js-Offers-Update" style="display: none">
            <p>Update Offer</p>
            @using (Html.BeginForm("UpdateMonthlyOffer", "Admin"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control",@id= "js-id-update", @readonly = "readonly" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NameOffer)
                    @Html.TextBoxFor(m => m.NameOffer, new { @class = "form-control", @id = "js-name-update" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TextOffer)
                    @Html.TextAreaFor(m => m.TextOffer, new { @class = "form-control", @id = "js-text-update" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PriceOffer)
                    @Html.TextBoxFor(m => m.PriceOffer, new { @class = "form-control", @id = "js-price-update" })
                </div>
                <button type="submit" class="btn btn-danger">Update</button>
            }
        </div>
    </div>
    <div class="col-md-5">
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody class="js-table-body">

                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function() {
            $(".js-table-body").empty();
            $('#js-reset-Name').val(" ");
            $('#js-reset-TextOffer').val(" ");
            $('#js-reset-Price').val(" ");
            $.getJSON("/JsonFiles/MonthlyOffers.json",
                function(data) {
                var list = [];
                $.each(data,
                        function(key, value) {
                            console.log("Key -> " + key + " Value -> " + value.NameOffer);
                            list.push(key);
                            console.log(list.length);
                            if (list.length == 0) {
                                $('#js-Id').val(0);
                            }
                            $('#js-Id').val(list.length);
                            $(".js-table-body").append(
                                '<tr><td class="js-id-delete">' +
                                key +
                                '</td><td>' +
                                value.NameOffer +
                                '</td><td>' +
                                value.TextOffer +
                                '</td><td>' +
                                value.PriceOffer +
                                '</td><td><button type = "button" class="btn btn-link get-row" onclick="ChangeOffer()">Update</button>' +
                                '</td><td><button type="button" class="btn btn-link delete" onclick="DeleteOffer()">Delete</button></td>');
                        });
                });
        });


        function stylingNewOffer() {
            $(document).ready(function() {
                var list = [];
                $.getJSON("/JsonFiles/MonthlyOffers.json",
                    function(data) {
                        $.each(data,
                            function(key, value) {
                                list.push(key);
                                console.log(list.length);
                                if (list.length == 0) {
                                    $('#js-Id').val(0);
                                }
                                $('#js-Id').val(list.length);

                            });
                    });
                document.getElementById("js-Offers-New").style.display = 'block';
                document.getElementById("js-Offers-Update").style.display = 'none';
            });
        }


        function stylingUpdateOffer() {
            document.getElementById("js-Offers-New").style.display = 'none';
            document.getElementById("js-Offers-Update").style.display = 'block';
        }

        function ChangeOffer() {
            stylingUpdateOffer();
            $(document).ready(function() {
                $(".get-row").click(function() {
                    var $row = $(this).closest("tr"); // Find the row
                    var tds = $row.find("td");
                    $('#js-id-update').val(tds[0].innerText);
                    $('#js-name-update').val(tds[1].innerText);
                    $('#js-text-update').val(tds[2].innerText);
                    $('#js-price-update').val(tds[3].innerText);
                });
            });
        }

        function DeleteOffer() {
            console.log("vlaga vo delete");
            $(document).ready(function() {
                $(".delete").click(function() {
                    var $row = $(this).closest("tr"); // Find the row
                    var tds = $row.find("td");
                    $.get('@Url.Action("DeleteMonthlyOffer", "Admin")', { id: tds[0].innerText }).done(function() {
                        alert( "Data Loaded");
                    });
                });
            });
        }
    </script>

}