@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if(Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Admin Index</h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li>Database</li>
            @Html.ActionLink("Add Free Tip", "AddFreeTip", "Admin", null, new {@class = "list-group-item list-group-item-action"})
            @Html.ActionLink("Add Monthly", "AddMonthly", "Admin", null, new {@class = "list-group-item list-group-item-action"})
            @Html.ActionLink("Add Vip Ticket", "AddVipTicket", "Admin", null, new {@class = "list-group-item list-group-item-action"})
            @Html.ActionLink("Delete Vip Ticket", "DeleteVipTicket", "Admin", null, new {@class = "list-group-item list-group-item-action"})
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li>Json</li>
            @Html.ActionLink("Add or change monthly offers", "ChangeMonthlyOffers", "Admin", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Add new free tips", "freeTips", "Admin", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("FreeTipsDate", "FreeTipsDateChangeActionResult", "Admin", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Change Vip Tickets", "vipTicketOffer", "Admin", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Change Vip Ticket Date", "VipTicketDate", "Admin", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Add Remove Ads", "Ads", "Admin", null, new { @class = "list-group-item list-group-item-action" })
        </ul>
    </div>
</div>


<button type="button" class="btn btn-danger btn-sm" onclick="location.href=@Url.Action("LogOut","Admin")">Log Out</button>

