@using Microsoft.Ajax.Utilities
@model FreeFixedMatches.ViewModel.ViewModelData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Monthly Tips</h2>

@Html.Partial("_FirstPanel")

<div class="row js-Offers">

</div>

<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">
            This call to action card is a great place to showcase some important
            information or display a clever tagline!
        </p>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">TotalOdd</th>
            <th scope="col">Match</th>
            <th scope="col">Tip</th>
            <th scope="col">Odd</th>
            <th scope="col">Result</th>
            <th scope="col">Win/Lose</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tip in Model.MonthlySubscrations)
        {
            <tr>
                <td>@tip.Date</td>
                <td>@tip.TotalOdd</td>
                <td>@tip.Match</td>
                <td>@tip.Tip</td>
                <td>@tip.Odd</td>
                <td>@tip.Result</td>
                <td>@tip.WinLose</td>
            </tr>
        }
        </tbody>
    </table>
</div>




@section scripts {
    <script>
        var list = [];
        $(document).ready(function() {
            $.getJSON("/JsonFiles/MonthlyOffers.json", function(result){
                $.each(result, function(key, value){
                    list.push(value);
                    $(".js-Offers").append(
                        '<div class="col-md-4 mb-5"><div class="card h-100"><div class="card-body">'+
                        '<h2 class="card-title">' + value.NameOffer + '</h2>'+
                        '<p class="card-text">' + value.TextOffer +
                        '</p></div></div></div>'
                    );
                });
            });
        });

    </script>

}
