
@model FreeFixedMatches.ViewModel.ViewModelData


@{
    ViewBag.Title = "Free football tips for our customers from free fixed matches 1x2";
    ViewBag.Description = "Free fixed matches, free football tips from our best sources with fixed matches";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/imgWebsite/FreeFixedBanner.png" alt="free fixed matches on our website with most advanced analysis">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Free <b>fixed matches</b></h1>
        <p>
            We are here for you to provide you with free analysed matches from our team.
            Every day we post free matches for our customers.
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<div class="card text-white bg-secondary my-5 text-center">
    <div class="card-body">
        <p class="text-white m-0">Passed free tips</p>
    </div>
</div>
                
<div class="row">
    <!-- Tabela za monthly  -->
    
<div class="table-responsive">
    <table class="table table-bordered table-sm" style="overflow-y:auto;">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Match</th>
            <th scope="col">Tip</th>
            <th scope="col">Odd</th>
            <th scope="col">Result</th>
            <th scope="col">Win/Lose</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tip in Model.FreeTips)
        {
            <tr>
                <td>@tip.Date</td>
                <td>@tip.Match</td>
                <td>@tip.Tip</td>
                <td>@String.Format("{0:0.00}",tip.Odd)</td>
                <td>@tip.Result</td>
                <td>@tip.WinLose</td>
            </tr>
        }
        
        </tbody>
    </table>
</div>

</div>

