@model FreeFixedMatches.ViewModel.ViewModelData

@{
    ViewBag.Title = "Fixed matches , Best site for fixed sure matches, real fixed matches free fixed matches";
    ViewBag.Description = "Free fixed matches, with us there is no chance to lose.Best fixed matches with the real fixed matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/imgWebsite/indexBanner.png" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light"><b>Free fixed matches 1x2</b></h1>
        <p>
            We know what you need and we are here to provide the best service - <b>fixed matches</b> for everyone. 
            We are cooperating with the most reliable sources available out there, 
            that’s why we are the best. The real connection makes the real betting profitable, not luck! 
            With our <b>best fixed matches</b> you are all set.
            With loads of testimonies from football fans worldwide, it's hard not to see the realness within <b>HOT FIXED MATCHES</b>, make a 
            life-changing decision by joining us. Get on a winner's journey as regards <b>football fixed</b> matches today.
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">Monthly subscription</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center css-text-offers">
        <p>
            Here you can buy best daily odds over 3.00.<br />  Matches are selected from our best sources and connections and here we
            combined the safest <b>daily fixed matches</b>.<br />  Our team is here to help you to win money on easy way with giving a
            <b>Sure Football Fixed Matches</b> from very reliable sources.<br />
            Join Now and start earning money every day with safest hot <b>fixed matches</b>.
        </p>
    </div>
    <div class="col-md-12 text-center ">
        <p><b class="css-email-key">Check out more on:</b></p>
        <p><b class="css-email-name">fixedmatchesreal@gmail.com</b></p>
    </div>
    <div class="col-md-6 mb-5 js-monthly-offers">

    </div>
    <div class="col-md-6 mb-5">
        <div class="table-responsive">
            <table class="table table-bordered table-sm" style="overflow-y:auto;">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Тotal Odd</th>
                        <th scope="col">Match</th>
                        <th scope="col">Tip</th>
                        <th scope="col">Odd</th>
                        <th scope="col">Result</th>
                        <th scope="col">Win/Lose</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tip in Model.MonthlySubscrations)
                    {
                        <tr>
                            <td>@tip.Date</td>
                            <td>@tip.TotalOdd</td>
                            <td>@tip.Match</td>
                            <td>@tip.Tip</td>
                            <td>@tip.Odd</td>
                            <td>@tip.Result</td>
                            <td>@tip.WinLose</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">ADS and banners</p>
    </div>
</div>
<!-- ADS -->
<div class="row js-ads-top">

</div>
<!-- ADS END -->
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">Vip Ticket</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center css-text-offers">
        <p>
            This is the most popular offer in our company.<br />
            We highly recommend you our VIP <b>weekly fixed matches</b>.<br />
            Matches are from the best and the most most reliable sources.<br />
            Four <b>fixed matches</b> with minimum odd of 250.<br />
            You can buy three vip ticket at once with a special price of 110 EUROS.
        </p>
    </div>
    <div class="col-md-12">
        <div class="alert alert-danger text-center js-vip-date" role="alert">
        </div>
    </div>
    <div class="col-md-12 text-center ">
        <p><b class="css-email-key">Check out more on:</b></p>
        <p><b class="css-email-name">fixedmatchesreal@gmail.com</b></p>
    </div>

    <div class="col-md-6 mb-5">
        <hr />
        <p class="vipTicketImgOfferText">Last week vip ticket</p>
        <hr />
        @foreach (var ticket in Model.VipTickets)
        {
            <div class="card">
                <img class="card-img-top" src="@ticket.ImagePath" alt="@ticket.Title">
                <div class="card-body">
                    <p class="card-text">@ticket.ImagePath</p>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6 mb-2 js-vip-offers">
        <hr />
        <p class="vipTicketImgOfferText">Vip ticket offers</p>
        <hr />
    </div>
</div>
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">Payment methods</p>
    </div>
</div>
<!-- Payment -->
<div class="row">
    <div class="col-6 col-md-3">
        <img src="~/Content/PaymentMethods/wUnion.png" class="img-fluid mb-2" />
    </div>
    <div class="col-6 col-md-3">
        <img src="~/Content/PaymentMethods/SkrillNettelerLogo.jpg" class="img-fluid mb-2" />
    </div>
    <div class="col-6 col-md-3">
        <img src="~/Content/PaymentMethods/riaLogo.jpg" class="img-fluid mb-2" />
    </div>
    <div class="col-6 col-md-3">
        <img src="~/Content/PaymentMethods/Bitcoin.png" class="img-fluid mb-2" />
    </div>
</div>

<!-- ADS -->
<div class="row js-ads-bottom">
    
</div>
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">Free Tips</p>
    </div>
</div>


<div class="row">
    <div class="col-md-6 mb-5">
        <div class="js-freeTips-date">

        </div>
        <hr/>
        <ul class="list-group js-freeTips">
        </ul>
    </div>
    <div class="col-md-6 mb-5">
        <div class="table-responsive">
            <table class="table table-bordered table-sm" style="overflow-y: auto;">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Match</th>
                    <th scope="col">Tip</th>
                    <th scope="col">Odd</th>
                    <th scope="col">Result</th>
                    <th scope="col">Win/Lose</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var freeTip in Model.FreeTips)
                {
                    <tr>
                        <td>@freeTip.Date</td>
                        <td>@freeTip.Match</td>
                        <td>@freeTip.Tip</td>
                        <td>@freeTip.Odd</td>
                        <td>@freeTip.Result</td>
                        <td>@freeTip.WinLose</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="card text-white bg-secondary my-3 text-center">
    <div class="card-body">
        <p class="text-white m-0">What our customers say about us</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>Jaclyn Iistorem</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            We were treated like royalty. I like fixed matches more and more each day because it makes my life a lot easier. 
                            I have gotten at least 10 times the value that i have paid from fixed matches.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>Russel Uslen</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            Thanks <b>fixed matches real</b>! Fixed matches real did exactly what exactly what that say.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>Felice Joardino</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            Really good. I would like to personally thank you for your outstanding service. I use <b>sure fixed matches</b> often. It fits our needs perfectly.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>Andrea  Carloti</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            Let me wrap this up in 2 words: VERY POWER FULL !. I was referred by a friend and boy am i happy i signed up for this sure fixed matches offer.
                            This guy offers me a very nice EXTRA INCOME each month.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong> Colette Oloradio</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            Not able to tell you how happy I am with fixed matches. If you aren't sure, always go for <b>fixed matches</b>. You've saved our business!
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-sm-block">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>Verile Marolleti</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            After using <b>best fixed matches</b> my business skyrocketed! Best fixed matches was the best investment I ever made. 
                            I have gotten at least 15 times the value from best fixed matches. Best fixed matches is the most valuable business resource we have EVER purchased.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function() {
            $.getJSON("/JsonFiles/Ads.json",
                function(data) {
                    $.each(data,
                        function (key, value) {
                            if (value.TopBottom) {
                                $(".js-ads-top").append(
                                    '<div class="col-6 col-md-2">' +
                                    '<img src="' + value.ImgUrl +'"class="img-fluid mb-2" alt="'+ value.Alt +'" /></div>');
                            } else {
                                $(".js-ads-bottom").append(
                                    '<div class="col-6 col-md-2">' +
                                    '<img src="' + value.ImgUrl +'"class="img-fluid mb-2" alt="'+ value.Alt +'" /></div>');
                            }
                        });
                });
            $.getJSON("/JsonFiles/MonthlyOffers.json",
                function(data) {
                    $.each(data,
                        function (key, value) {
                            $(".js-monthly-offers").append(
                                '<div class="col-md-12 mb-2">' +
                                '<div class="card h-100">' +
                                '<div class="card-body">' +
                                '<h2 class="card-title">' + value.NameOffer +'</h2>' +
                                '<p class="card-text">' + value.TextOffer +'</p>' +
                                '<h5 class="card-text">Price: ' + value.PriceOffer + ' euros</h5></div></div></div>');
                        });
                });
            $.getJSON("/JsonFiles/vipTicketOffers.json",
                function(data) {
                    $.each(data,
                        function (key, value) {
                            $(".js-vip-offers").append(
                                '<div class="col-md-12 mb-2">' +
                                '<div class="card h-100">' +
                                '<div class="card-body">' +
                                '<h2 class="card-title">' + value.NameOffer +'</h2>' +
                                '<p class="card-text">' + value.TextOffer +'</p>' +
                                '<h5 class="card-text">Price: ' + value.PriceOffer + ' euros</h5></div></div></div>');
                        });
                });
            $.getJSON("/JsonFiles/FreeTipDateChange.json",
                function (data) {
                    $(".js-freeTips-date").append(
                        '<h4>Free Tips for today: ' + data.FreeTipsDate + '</h4>');
                });

            $.getJSON("/JsonFiles/FreeTips.json",
                function(data) {
                    $.each(data,
                        function (key, value) {
                            $(".js-freeTips").append(
                                '<li class="list-group-item">' + value + '</li>');
                        });
                });
            $.getJSON("/JsonFiles/VipTicketDate.json",
                function (data) {
                            $(".js-vip-date").append(
                                '<h3>NEXT VIP TICKET WITH 4 FIXED MATCHES IS FOR -><span><strong>' + data.VipDateForChange +'</strong></span></h3>');
                });
            
        });
    </script>
}

