<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2b2f5b" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "WebSite",
        "name": "Free fixed matches 1x2",
        "alternateName": "Free fixed matches 1x2",
        "url": "https://freefixedmatches1x2.com/"
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136348123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-136348123-1');
    </script>


</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()
        <hr />
        
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
